    <!-- About Section -->
    <section id="about" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>About Me</h2>
                    <p>My name is Binghuan(秉寰) Lin(林). I am a Marie Curie research fellow in EU-funded project <a href="http://www.hpcfinance.eu">HPCFinance</a> hosted by <a href="http://www.techila.fi">Techila Technologies Ltd</a>. My research interests include investor behavior, empirical asset pricing, financial econometrics as well as computional finance. More information can be found on <a href="https://fi.linkedin.com/in/binghuanlin/en/">LinkedIn</a>.</p>
                    <p></p>
<!--                 <p>This theme features stock photos by <a href="http://gratisography.com/">Gratisography</a> along with a custom Google Maps skin courtesy of <a href="http://snazzymaps.com/">Snazzy Maps</a>.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p> -->
                </div>
            </div>
        </div>
    </section>