    <!-- Download Section -->
    <section id="research" class="content-section text-left">
        <div class="row">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Research</h2>
                    <div>
                        <h4>Publications</h4>
                        <ul> 
                            <li><a href="http://www.sciencedirect.com/science/article/pii/S0378426614001186">Estimating and using GARCH models with VIX data for option valuation</a> with Juho Kanniainen and Hanxue Yang, <b>Journal of Banking and Finance</b>, 2014</li>
                            <li><a href="http://ieeexplore.ieee.org/xpl/login.jsp?reload=true&amp;tp=&amp;arnumber=6927411&amp;url=http%3A%2F%2Fieeexplore.ieee.org%2Fxpls%2Fabs_all.jsp%3Farnumber%3D6927411">Particle Filtering-based Maximum Likelihood Estimation for Financial Parameter Estimation</a> with Jinzhe Yang, Wayne Luk and Terrence Nahar, <b>the 24th international conference on Field Programmable Logic and Applications</b>, 2014</li>
                        </ul>
                    </div>
                    <br>
                    <br>
                    <div>
                        <h4>Working Papers</h4>
                        <ul> 
                            <li><a href="http://www.bhlin.me">When should portfolio managers cut their long credit exposure?</a> with Florian Ielpo and Zulva Algiftiah Syapda 
                            <br>
                            <b>Abstract:</b> Stop loss strategies consist of rules supposed to trim investment with a potentially negative return from those that will be profitable. For assets yielding a revenue such as credit bonds, investors have a natural tendency to keep long positions in their portfolios. An accurate stop loss strategy for such assets needs to provide its user with the appropriate selling times. Empirical evidence suggests that such periods usually start with a large negative jump. This article tests whether cutting a long credit strategy after such a jump improves the strategy's final payoff. We obtain evidence showing that such a stop loss strategy improves the returns on a long credit position accurately, for both Investment Grade and High Yield portfolios, and both for US Dollar and Euro denominated bonds.
                            </li>
                        </ul>
                        
                    </div>
                    <br>
                    <br>
                    <a href="http://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=2190200" class="btn btn-default btn-lg">SSRN page</a>
                </div>
            </div>
        </div>
    </section>