    <!-- Download Section -->
    <section id="download" class="content-section text-center">
        <div class="row">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>Research</h2>
                    <div align="left">
                        <h2>Publications</h2>
                        <ul> 
                            <li><a href="http://www.sciencedirect.com/science/article/pii/S0378426614001186">Estimating and using GARCH models with VIX data for option valuation</a> with Juho Kanniainen and Hanxue Yang, <b>Journal of Banking and Finance</b>, 2014</li>
                        </ul>
                    </div>
                    <a href="http://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=2190200" class="btn btn-default btn-lg">SSRN page</a>
                </div>
            </div>
        </div>
    </section>